@import '../../node_modules/tailwindcss/dist/preflight.css';
@import '../../node_modules/tailwindcss/dist/components.css';
@import '../../node_modules/tailwindcss/dist/utilities.css';

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
}
